.ConnectButtum {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
  }

.ConnectButtum:hover {
    background-color: #3e8e41;
  }

.DisconnectButtum {
    background-color: rgb(255, 0, 0); /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
  }

.DisconnectButtum:hover {
    background-color: rgb(200, 0, 0);
  }