.title {
    font-size: 800%;
    text-align: center;
    font-family: khiara ;
  }


/* import font */

@font-face {
  font-family: "khiara";
  src: url("../fonts/khiara_script/©_2020_NUGS_Project_Khiara_Script.ttf") format("truetype");
  font-style: normal;
}